node_modules/
.next/
.env
.env.local
.env.production
.DS_Store
*.log
dist/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.dart_tool/
.pub/
android/.gradle/
android/app/build/
ios/Pods/
ios/.symlinks/
